#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        /* レイヤー 0 (通常入力) */
        default_layer {
            bindings = <
                &kp Q    &kp E    &kp R    &kp F    &kp SPACE    &kp N2    &kp N3    &mo 1
            >;
        };

        /* レイヤー 1 (機能拡張) */
        ble_layer {
            bindings = <
                &kp N7   &kp I    &none    &none    &none        &none     &none     &trans
            >;
        };
    };
};