#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // レイヤー 0 (通常入力)

        default_layer {
            bindings = <
&kp Q  &kp E  &kp R  &kp F  &kp SPACE  &kp N2  &kp N5  &mo 1
            >;
        };

        // レイヤー 1 (Bluetooth / バッテリー操作用)

        ble_layer {
            bindings = <
&kp N7  &kp I  &msc SCRL_UP  &none  &none  &none  &msc SCRL_DOWN  &trans
            >;
        };
    };
};
